<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin, autocomplete: "admin" %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, autocomplete: "age" %>
  </div>

  <div class="field">
    <%= f.label :marital_status %>
    <%= f.select :marital_status, [['あり',1],['なし',0]], { include_blank: 'あり/なし' }, autocomplete: "marital_status" %>
  </div>

  <div class="field">
    <%= f.label :spouse_age %>
    <%= f.number_field :spouse_age, autocomplete: "spouse_age" %>
  </div>

  <div class="field">
    <%= f.label :children_number %>
    <%= f.number_field :children_number, autocomplete: "children_number" %>
  </div>

  <div class="field">
    <%= f.label :child1_age %>
    <%= f.number_field :child1_age, autocomplete: "child1_age" %>
  </div>

  <div class="field">
    <%= f.label :child2_age %>
    <%= f.number_field :child2_age, autocomplete: "child2_age" %>
  </div>

  <div class="field">
    <%= f.label :child3_age %>
    <%= f.number_field :child3_age, autocomplete: "child3_age" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
